{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>U-mail Signup</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="left-section">
        <h1>
          Sign Up to <br />
          U-mail....
        </h1>
        <p>
          If you already have an account
          <a href="{% url  'login' %}">Login here!</a>
        </p>
        <div class="illustration">
          <img src="{% static 'logo.png' %}" alt="3D Character" />
        </div>
      </div>
      <div class="right-section">
        <form class="signup-form" method="post">
          {% csrf_token %}
          <h2>Sign Up</h2>
          {{form.as_p}}
          <button type="submit">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>
