<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>U-mail Signup</title>
  <link rel="stylesheet" href="./style.css">
</head>
<body>
  <div class="container">
    <div class="left-section">
      <h1>Sign Up to <br> U-mail....</h1>
      <p>If you already have an account <a href="./login.html">Login here!</a></p>
      <div class="illustration">
        <img src="./saly-14-55.png" alt="3D Character">
      </div>
    </div>
    <div class="right-section">
      <form class="signup-form">
        <h2>Sign Up</h2>
        <input type="email" placeholder="Enter Email" required>
        <input type="text" placeholder="Create User name" required>
        <input type="text" placeholder="Contact number" required>
        <input type="password" placeholder="Password" required>
        <input type="password" placeholder="Confirm Password" required>
        <button type="submit">Register</button>
      </form>
    </div>
  </div>
</body>
</html>
